# API Key de Google Cloud (Se requiere la Places API activa)
GOOGLE_PLACES_API_KEY=tu_api_key_aqui_AIzaSy...

DB_USERNAME=postgres
DB_PASSWORD=tu_contrasenia_local
DB_URL=jdbc:postgresql://localhost:5432/dbp_proyecto