# API Key de Google Cloud (Se requiere la Places API activa)
GOOGLE_PLACES_API_KEY=tu_api_key_aqui_AIzaSy...

CLOUDINARY_CLOUD_NAME=placeholder
CLOUDINARY_API_KEY=placeholder
CLOUDINARY_API_SECRET=placeholder